#mainHeader {
  margin-top: 1.5rem;
}

#questionsContainer {
  margin-bottom: 2.5rem;
}

#carPhoto {
  height: 300px;
  width: 100%
} 

.questionsDiv {
  margin-bottom: 1.5rem;
}

#bottomHR {
  margin-top: 1.5rem;
}